/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона  #2f303a */
/* белый цвет #FFFFFF */
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцентный цвет #2196F3 */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-text-font-size: 14px;
  --secondary-text-font-size: 16px;
  --primary-text-font-weight: normal;
  --title-font-weight: bold;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--primary-text-font-size);
  line-height: 16px;
  letter-spacing: 0.03em;
  background-color: #e5e5e5;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Шапка сайта */
.header-page {
  background: #ffffff;
}

/* Логотип сайта */
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: var(--title-font-weight);
  line-height: 31px;
}

.logo-start {
  color: var(--accent-color);
}
.logo-end {
  color: #000000;
}

/* Основная навигация сайта*/
.nav-link,
.contact-link {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link {
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* Контакты */
.contact-link {
  color: var(--secondary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*Главная страница Студии*/

/*Герой*/
.main-box {
  background-color: #2f303a;
  height: 600px;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/* Особенности */
.features .title-features {
  font-weight: var(--title-font-weight);
}

.features .features-text {
  line-height: 24px;
  color: var(--secondary-text-color);
}

/* Основные направления */
.subtitle {
  font-weight: var(--title-font-weight);
  font-size: 36px;
  line-height: 42px;
}

/* Команда */
.team {
  font-size: var(--secondary-text-font-size);
  line-height: 19px;
}

.team-text {
  color: var(--secondary-text-color);
}

/*Главная страница Портфолио*/
.project-title {
  font-weight: var(--title-font-weight);
  font-size: 18px;
}

.project-text {
  font-weight: normal;
  font-size: var(--secondary-text-font-size);
  color: var(--secondary-text-color);
}

/* Подвал сайта */
.footer-page {
  background: #2f303a;
  height: 252px;
}

.address {
  font-size: var(--primary-text-font-size);
  line-height: 24px;
  color: #ffffff;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

/* Кнопки */
.button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: #ffffff;
}

.btn {
  background: #f5f4fa;
  font-weight: 500;
  font-size: var(--secondary-text-font-size);
}

.btn:hover,
.btn:focus {
  background: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}
